<form action="/status/create" method="POST">
    <div class="form-group">
        <label>Заголовок:</label>
        <input type="text" class="form-control" name="title" value="">
        <br>
    </div>
    <div class="form-group">
        <label>Системное название:</label>
        <input type="text" class="form-control" name="name" value="">
        <br>
    </div>   
    <div class="form-group">
        <label>Описание</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Отправить</button>
</form>